<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pro.down.mapper.downMapper">

    <resultMap id="result" type="com.example.pro.down.entity.Down">
        <result property="id" column="id" />
        <result property="title" column="title"/>
        <result property="shortTitle" column="shortTitle"/>
        <result property="content" column="content"/>
        <result property="label" column="label"/>
        <result property="category" column="category"/>
        <result property="likeTimes" column="likeTimes"/>
        <result property="imgs" column="imgs"/>
        <result property="link" column="link"/>
        <result property="createTime" column="createTime" javaType="java.util.Date"/>
        <result property="lastModify" column="lastModify"/>
        <result property="stick" column="stick"/>
        <result property="status" column="status"/>
    </resultMap>
    <select id="findAll" resultType="com.example.pro.down.entity.Down" parameterType="com.example.pro.down.entity.Down">
        select * from down where 1=1 
        <if test="status != 0">
            and status=#{status}
        </if>
        <if test="title != null && title != ''">
            and shortTitle LIKE concat(concat('%',#{title}),'%')
        </if>
        <if test="title != null && shortTitle != ''">
            and shortTitle LIKE concat(concat('%',#{shortTitle}),'%')
        </if>
    </select>
    <select id="findById" resultType="com.example.pro.down.entity.Down" parameterType="Integer">
        select * from down where id=#{id};
    </select>
    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.pro.down.entity.Down">
        insert into down (title, shortTitle, content, imgs, label, category, link, stick, status) values(
        #{title},
        #{shortTitle},
        <if test="content != null">
        #{content},
        </if>
        <if test="imgs != null">
        #{imgs},
        </if>
        <if test="label != null">
        #{label},
        </if>
        #{category},
        #{link},
        2,
        2
        )
    </insert>
    <update id="modify" parameterType="com.example.pro.down.entity.Down" useGeneratedKeys="true" keyProperty="id">
    update down set status=#{status}, stick=#{stick}, title=#{title}, shortTitle=#{shortTitle} where id=#{id}; 
    </update>
    <update id="delete" parameterType="Integer" useGeneratedKeys="true" keyProperty="id">
    delete from down where id=#{id}; 
    </update>
</mapper>
